# Compiled class file
*all-core-vital.class

# Log file
*konkursy-files.log

# BlueJ files
*updateandrename.ctxt

# Mobile Tools for Java (J2ME)
torename.mtj.tmp/

# Package Files #
*package.jar
*initial.war
*konkursy-dev.nar
*appearance.ear
*loterie-konkursy.zip
*basic.tar.gz
*aktualne-konkursy.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
